In [27]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.express as plt
import matplotlib
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [28]:
data_path = r'/workspaces/Dawud-Ali/imputs/raw_data/weatherAUS.csv'

In [29]:
raw_df = pd.read_csv(data_path)

In [30]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [31]:
raw_df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [32]:
type(raw_df)

pandas.core.frame.DataFrame

In [33]:
raw_df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [34]:
raw_df.dropna(subset=['RainToday', 'RainTomorrow'], inplace=True)

In [ ]:
px.histogram (raw_df, x= 'location', title= 'RainToday vs Location', color= 'RainToday')

In [36]:
sample_df = raw_df.sample(frac=0.1).copy()

In [37]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14079 entries, 32811 to 114022
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           14079 non-null  object
 1   Location       14079 non-null  object
 2   MinTemp        14038 non-null  float64
 3   MaxTemp        14052 non-null  float64
 4   Rainfall       14079 non-null  float64
 5   Evaporation    8141 non-null   float64
 6   Sunshine       7441 non-null   float64
 7   WindGustDir    13178 non-null  object
 8   WindGustSpeed  13183 non-null  float64
 9   WindDir9am     13099 non-null  object
 10  WindDir3pm     13708 non-null  object
 11  WindSpeed9am   13954 non-null  float64
 12  WindSpeed3pm   13806 non-null  float64
 13  Humidity9am    13941 non-null  float64
 14  Humidity3pm    13742 non-null  float64
 15  Pressure9am    12738 non-null  float64
 16  Pressure3pm    12733 non-null  float64
 17  Cloud9am       8830 non-null   float64
 18  Cloud3pm       8474 non-null   float64
 19  Temp9am        14022 non-null  float64
 20  Temp3pm        13823 non-null  float64
 21  RainToday      14079 non-null  object
 22  RainTomorrow   14079 non-null  object
dtypes: float64(16), object(7)
memory usage: 2.6+ MB